body {
    background-color: rgb(245, 233, 229);
    margin: 5px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: coral;
    text-shadow: 1px 1px 2px rgb(224, 134, 15);
}
h2 {
    color: coral;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 300;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: justify;
    margin: 1%;
}
.citacao {
    font-style: italic;
    color: rgb(92, 90, 90);
    text-shadow: 1px;
    font-size: 12px
}
.BoxCitacao {
    border: 1px solid coral;
    padding: 1%;
    margin: 1%;
    box-shadow: 0px 0px 10px coral
}
nav {
    background-color: coral;
    overflow: hidden;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 8px;
    border-radius: 5px;
}
nav li a:hover {
    background-color: rgb(255, 182, 182);
    color: rgb(121, 60, 38);
}