ul li::before {
    content: " - ";
    background-color: blueviolet;
}
p {
    font-size: 30px;
}
p::first-letter {
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
p::first-line {
    background-color: bisque;
}
p::selection {
    background-color: blueviolet;
    color: azure;
}
::placeholder {
    color: red;
}